<nav class="navbar navbar-dark bg-primary">
<a class="navbar-brand" href="{{brandUrl}}">
    <img src="http://temilajumoke.com/images/temilajfavicon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    {{brand}}
  </a>
  <div class="nav navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
  </div>
  <div class="nav navbar-nav pull-right">
    <a class="nav-item nav-link" routerLink="/profile">Profile</a>
    <!--<button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>-->
    <!--<button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>-->
  </div>
</nav>
<div class="container m-t-20">
    <router-outlet></router-outlet>
</div>