<h2>
user profile
</h2>
<h2 class="display" *ngIf="profile">{{profile.nickname}}</h2>
<div class="row">
    <div class="col-sm-2">
        <img width="100" class="thumbnail" src="https://s.gravatar.com/avatar/95a54f91908ad15f5b38d5f927142ec5?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png" alt="Card image cap">
    </div>
    <div class="col-sm-10">
        <ul class="list-group">
            <li class="list-group-item active">Email: {{profile.email}}</li>
            <li class="list-group-item">Profile Created: {{profile.created_at | date: 'dd/mm/yy'}}</li>
            <li class="list-group-item">Profile Updated: {{profile.updated_at | date: 'dd/mm/yy'}}</li>
            </ul>
    </div>
</div>